/*=================================
=            Variables            =
=================================*/

$fonts: (
  'default': (
    'family': 'sans-serif',
    'weights': (
      'light': 300,
      'soft': 400,
      'strong': 500,
      'heavy': 600,
    ),
    'styles': null,
    'upm': 3000,
    'capHeight': 2000,
    'features': normal,
    'spacing': null,
  ),
) !default;

$scales: ('medium', 'large') !default;

/* prettier-ignore */
$sizes: (
  'small': (
    '6xl': (47px, 54px),
    '5xl': (39px, 46px),
    '4xl': (32px, 40px),
    '3xl': (27px, 34px),
    '2xl': (22px, 30px),
    'xl': (19px, 26px),
    'lg': (16px, 24px),
    'md': (13px, 20px),
    'sm': (11px, 18px),
    'xs': (9px, 16px),
  ),
  'medium': (
    '6xl': (54px, 62px),
    '5xl': (45px, 52px),
    '4xl': (37px, 44px),
    '3xl': (31px, 38px),
    '2xl': (26px, 34px),
    'xl': (22px, 30px),
    'lg': (18px, 26px),
    'md': (15px, 22px),
    'sm': (12px, 18px),
    'xs': (10px, 16px),
  ),
  'large': (
    '6xl': (61px, 68px),
    '5xl': (51px, 58px),
    '4xl': (42px, 48px),
    '3xl': (35px, 42px),
    '2xl': (29px, 36px),
    'xl': (24px, 32px),
    'lg': (20px, 28px),
    'md': (17px, 24px),
    'sm': (14px, 20px),
    'xs': (12px, 18px),
  ),
) !default;

$lines: (
  'tight': -2px,
  'compact': -2px,
  'loose': 2px,
) !default;

$root: ':root' !default;
