/**
 *
 * Rules
 *
 */

:root {
  --color-foreground-primary: rgba(0 0 0 / 94%);
  --color-foreground-secondary: rgba(99 99 99 / 90%);
  --color-separator: rgba(119 119 119 / 10%);
  --color-surface-primary: rgb(255 255 255);
  --color-surface-secondary: rgb(243 243 243);

  --cap-capHeight-sans: 2048;
  --cap-capHeight-serif: 1486;
  --cap-capHeight-mono: 1456;

  --cap-fontFamily-sans: 'Inter';
  --cap-fontFamily-serif: 'Merriweather';
  --cap-fontFamily-mono: 'Roboto Mono';

  --cap-fontFeatureSettings-sans: 'calt', 'liga', 'ss03', 'zero', 'cv05', 'cv10';
  --cap-fontFeatureSettings-serif: normal;
  --cap-fontFeatureSettings-mono: normal;

  --cap-fontWeight-heavy-sans: 600;
  --cap-fontWeight-light-sans: 300;
  --cap-fontWeight-soft-sans: 400;
  --cap-fontWeight-strong-sans: 500;

  --cap-fontWeight-heavy-serif: 900;
  --cap-fontWeight-light-serif: 300;
  --cap-fontWeight-soft-serif: 400;
  --cap-fontWeight-strong-serif: 600;

  --cap-fontWeight-heavy-mono: 700;
  --cap-fontWeight-light-mono: 300;
  --cap-fontWeight-soft-mono: 400;
  --cap-fontWeight-strong-mono: 500;

  --cap-letterSpacingFactor-sans: 1;
  --cap-letterSpacingFactor-serif: 0;
  --cap-letterSpacingFactor-mono: 0;

  --cap-upm-sans: 2816;
  --cap-upm-serif: 2000;
  --cap-upm-mono: 2048;

  @media (prefers-color-scheme: dark) {
    --color-foreground-primary: rgba(255 255 255 / 94%);
    --color-foreground-secondary: rgba(139 139 139 / 90%);
    --color-separator: rgba(119 119 119 / 16%);
    --color-surface-primary: rgb(0 0 0);
    --color-surface-secondary: rgb(27 27 27);
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300 900;
  src: url('./../fonts/Inter.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300 900;
  src: url('./../fonts/Merriweather.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300 900;
  src: url('./../fonts/RobotoMono.var.woff2') format('woff2');
}

body {
  background: var(--color-surface-primary);
  color: var(--color-foreground-primary);
  display: grid;
  gap: 48px;
  grid-template: auto / minmax(auto, 1280px);
  justify-content: center;
  margin: 0;
  padding: 48px 16px;
}

section {
  display: grid;
  gap: 48px;
}

header {
  background: var(--color-surface-secondary);
  color: var(--color-foreground-secondary);
  padding: 8px;
}

div {
  display: grid;
  gap: 48px;

  &.boxed {
    margin: 0 auto;
    max-width: 640px;
  }
}

span {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
